<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/admincss/img/favicon.png" rel="icon">
  <link href="/admincss/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admincss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admincss/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admincss/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admincss/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admincss/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admincss/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admincss/vendor/simple-datatables/style.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/admincss/css/style.css" rel="stylesheet">


  <style>
    /* Header styles for screens smaller than 768px */
    @media (max-width: 767px) {
      .header {
        flex-wrap: wrap;
      }

      .logo {
        margin-right: auto;
      }

      .toggle-sidebar-btn {
        margin-left: auto;
      }

      .search-bar {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .header-nav {
        margin-left: auto;
        margin-right: 1rem;
      }

      .search-bar-toggle {
        margin-right: 1rem;
      }

      .btn-danger {
        margin-right: 0;
      }
    }

    /* Header styles for screens larger than 768px */
    @media (min-width: 768px) {
      .header {
        justify-content: space-between;
      }

      .logo {
        margin-right: 1rem;
      }

      .toggle-sidebar-btn {
        display: none;
      }

      .search-bar {
        margin-left: auto;
        margin-right: 1rem;
      }

      .header-nav {
        margin-right: auto;
      }

      .btn-danger {
        margin-right: 1rem;
      }
    }

    .table-responsive thead {
      display: table-header-group;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <div href="" class="logo d-flex align-items-center">
        <img src="/admincss/img/logo.png" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </div>


      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar" style="margin-left: auto; margin-right: auto;">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
      </ul>
    </nav>
    <div>
      <a href="/admin/logout"> <button class="btn btn-danger" style="margin-right: 1rem;">Logout</button></a>
    </div><!-- End Icons Navigation -->
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item active">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/Home">
          <i class="bi bi-bar-chart-fill"></i><span>Dashboard</span>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/products">
          <i class="bi bi-dropbox"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/AddCategory">
          <i class="bi bi-dice-4-fill"></i><span>Category</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/brand">
          <i class="bi bi-distribute-vertical"></i><span>Brands</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/banner">
          <i class="bi bi-easel-fill"></i><span>Banner</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/coupon">
          <i class="bi bi-file-earmark-fill"></i></i><span>Coupon</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/users">
          <i class="bi bi-person-circle"></i></i><span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/orders">
          <i class="bi bi-clipboard2-fill"></i><span>Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/admin/salesreport">
          <i class="bi bi-receipt"></i><span>Salesreport</span>
        </a>
      </li>


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <a href="/admin/addproducts"><button type="button" class="btn btn-primary">Add Product</button></a>

    <section class="section" style="padding-top: 1rem;">
      <div class="table-responsive">
            
              <!-- End Default Table Example -->
              <table class="table" style="background-color: white; color: black;">
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Prize</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Status</th>
                </thead>
                <tbody>
                  {{#each productsdetail}}
                  <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td><img src="/photos/{{this.image}}" alt="" style="width: 40px; height: 40px;"></td>
                    <td style="white-space:pre-wrap">{{this.productname}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.brand}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.prize}}</td>
                    <td>{{this.MRP}}</td>
                    <td style=" white-space:pre-wrap">{{this.description}}</td>
                    <td><a href="/admin/productedit/{{this._id}}"><button type="button"
                          class="btn btn-primary">Edit</button></a></td>
                    <td>
                      {{#if this.block}}
                      <button data-toggle="modal" data-target="#exampleModal-{{this._id}}"
                        class="btn btn-success ">Unblock</button>
                      {{else}}
                      <button data-toggle="modal" data-target="#exampleModal-{{this._id}}"
                        class="btn btn-danger ">Block</button>
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal-{{this._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h4 class="text-center">Please enter ok to confirm</h4>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              {{#if this.block}}
                              <a href="/admin/unblockproduct/{{this._id}}"> <button type="button"
                                  class="btn btn-primary">Ok</button></a>
                              {{else}}
                              <a href="/admin/blockproduct/{{this._id}}"> <button type="button"
                                  class="btn btn-primary">Ok</button></a>
                              {{/if}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
      </div>
    </section>
    <!-- Button trigger modal -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admincss/js/main.js"></script>

</body>

</html>