<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/product-detail/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/product-detail/css/style.css" type="text/css">
    <style>

    </style>
</head>

<body>


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/product-detail/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header" style="position:relative;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/product-detail/img/logo.png" style="width: 22%;" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/order-history">Orders</a></li>
                            <li><a href="/productpage">Products</a>
                            <li><a href="/profile">Profile</a>

                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="/cart">Cart</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {{#if user}}
                            <a href="/profile">{{user.name}}</a>
                            {{else}}
                            <a href="/login">Login</a>
                            <a href="/signup">Register</a>
                            {{/if}}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/wish-list"><span class="icon_heart_alt"></span>
                                    {{!-- <div class="tip">2</div> --}}
                                </a></li>
                            <li><a href="/cartpage"><span class="icon_bag_alt"></span>
                                    {{!-- <div class="tip">2</div> --}}
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <section class="section dashboard">
        <div class="container">
            <h1 style="font-size: 28px; font-weight: 600;">Order History</h1>
            <hr>
            {{#each orders}}
            <div class="row" style="background-color: #e5e7e7; margin: 1rem;">
                {{#each this.orderItems}}
                <div class="col-lg-3 col-6">
                    <img src="{{this.image}}" alt="{{this.name}}" style="max-width: 69%; margin: 1rem;">
                </div>
                <div class="col-lg-4 col-6" style="margin-top: auto; margin-bottom: auto;">
                    <h5>{{this.name}}</h5>
                    <p>Price: ${{this.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                </div>
                {{/each}}
                <div class="col-lg-1 col-6" style="margin-top: auto; margin-bottom: auto;">
                    <p>Date: {{this.date}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    <section>
        <!-- Search Begin -->
        <div class=" search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form" action="/search-product" method="post">
                    <input type="text" id="search-input" placeholder="Search here....." name="name">
                </form>
            </div>
        </div>

        <!-- Search End -->

        <!-- Js Plugins -->
        <script src="/product-detail/js/jquery-3.3.1.min.js"></script>
        <script src="/product-detail/js/bootstrap.min.js"></script>
        <script src="/product-detail/js/jquery.magnific-popup.min.js"></script>
        <script src="/product-detail/js/jquery-ui.min.js"></script>
        <script src="/product-detail/js/mixitup.min.js"></script>
        <script src="/product-detail/js/jquery.countdown.min.js"></script>
        <script src="/product-detail/js/jquery.slicknav.js"></script>
        <script src="/product-detail/js/owl.carousel.min.js"></script>
        <script src="/product-detail/js/jquery.nicescroll.min.js"></script>
        <script src="/product-detail/js/main.js"></script>
</body>

</html>